li{
    list-style: none;
    padding: 5px 0;
    display: inline-block;
}

ul{
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    background-color: lightgray;
}

.btn-box{
    display: inline-block;
    vertical-align: middle;
}

.btn-delete{

}

.chk-shadow{
    display: inline-block;
    vertical-align: middle;
    height: 46px;
    margin: 0 0 0 0;
}

.img-box{
    padding: 5px;
}

.img-item:hover{
    opacity: .6;
    cursor: pointer;
}

.list-items{
    width: 100%;
    min-height: 100px;
    background-color: burlywood;
}

.is-selected .img-item{
    opacity: .6;
}

.is-selected .img-box{
    background-color: black;
}

.is-shadow .img-box{
    background-color: #00CC00;
}

.items{
    display: inline-block;
    vertical-align: middle;
}

.item-box{
    height: 46px;
}

.wh-46{
    width: 46px;
    height: 46px;
}

.wh-50{
    width: 50px;
    height: 50px;
}