li{
    list-style: none;
}

ul{
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* id */

#btn-load, #btn-save{
    display: none;
}

#need-parts{
    background-color: lightgrey;
    margin: 10px 0;
    min-height: 65px;
}

#wrap-groups{
    margin: 10px 0;
    min-height: 200px;
    background-color: grey;
}

#wrap-items{
    background-color: lightgray;
    margin: 10px 0;
    min-height: 70px;
}

/* class */

.btn-box{
    display: inline-block;
    height: 100%;
    width: 40px;
}

.btn-delete{    
    display: none;
}

.btn-group-box{
    height: 34px;
    background-color: silver;
    text-align: right;
}

.btn-group-delete{
    display: none;
}

.btn-load{
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
    background-color: lightgrey;
}

.btn-save{
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
    background-color: lightgrey;
}

.chk-shadow{
    display: inline-block;
    height: 100%;
    margin: 0 0 0 0;
}

.comp-items{
    vertical-align: middle;
    background-color: lightgrey;
    margin: 10px 0;
    min-height: 50px;
    width: 100%;
}

.dd-box{
    display: inline-block;
    height: 100%;
    width: 15px;
    background-color: skyblue;
}

.etc{
    width: 100%;
    resize: vertical;
    line-height: 15px;
}

.group-box{
    display: inline-block;
    width: 270px;
    vertical-align: top;
    margin: 5px;
    background-color: silver;
}

.group-items{
    width: 100%;
    min-height: 180px;
    background-color: silver;
    padding: 0 0 50px 0;
}

.group-text{
    width: 100%;
    height: 30px;
}

.label-del{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.label-group-del{
    cursor: pointer;
    height: 100%;
}

.list-items{
    width: 100%;
    min-height: 100px;
    background-color: burlywood;
}

.parts-amounts{
    display: inline-block;
    padding-right: 5px;
}

.parts-box{
    display: inline-block;
}

.parts-cross{
    display: inline-block;
}

.parts-img{
    display: inline-block;
}

.img-box{
    padding: 1px;
}

.img-del{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.img-group-del{
    width: 30px;
    height: 30px;
}

.img-item{
    padding: 1px;
    display: block;
}

.img-item:hover , .btn-load:hover, .btn-save:hover{
    opacity: .6;
    cursor: pointer;
}

.is-selected .img-item{
    opacity: .6;
}

.is-selected .img-box{
    background-color: black;
}

.is-shadow .img-box{
    background-color: #00CC00;
}

.items{
    display: inline-block;
    height: 100%;
    min-width: 100px;
}

.item-box{
    display: inline-block;
    padding: 1px;
}

.selected-box{
    display: inline-block;
    padding: 2px;
    height: 50px;
    margin: 2px;
    border: solid;
    border-width: 0.5px;
    background-color: lightgrey;
}

.wh-44{
    width: 44px;
    height: 44px;
}

.wh-46{
    width: 46px;
    height: 46px;
}

.wh-48{
    width: 48px;
    height: 48px;
}

.wh-50{
    width: 50px;
    height: 50px;
}